.centered {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.select-column {
    width: 50px;
}

.action-column {
    width: 150px;
}

.button-group {
    padding-bottom: 5px;
}

.is-deleted {
    background-color: #FCC;
}

.is-deleted:hover {
    background-color: #EBB !important; /* Dammit, bootstrap */
}

.document-body {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}
